/* Call Fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Dosis', sans-serif; */

html {
    background: #FBE8A6;
}

html body {
    margin: 0;
    padding: 0;
}
h5 {
    color: red;
    text-decoration: none;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFB366;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

header a{
    text-decoration: none;
    color: #303C6C;
    font-size: 45px;
}
header a:hover {
    text-decoration: underline;
    color: rgb(177, 251, 255);
}

menu {
    display: flex;
    flex-direction: column;
}

menu a {
    font-size: 22px;
}

main {
    display: flex;
    justify-content: center;
}

.sentences {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 600px;
    
}

/* sentences h2 {
    grid-area: 4/1/5/2;
    justify-self: center;
} */

.card {
    width: 40%;
    height: 80%;
    background: #303C6C;
    justify-self: center;
    grid-area: 2 / 1 / 3 / 2;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

#postVocab{
    color: rgb(177, 251, 255);
    margin: 8px 0px 0px 8px;
} 

.card-definition {
    color: rgb(177, 251, 255);
    text-align: center;
    padding-bottom: 4px;
    font-family: 'Dosis', sans-serif;
    margin-top: -10px;
}

.mainPageSignUp {
    grid-area: 3/1/4/2;
    justify-self: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.mainPageLogin {
    grid-area: 4/1/5/2;
    justify-self: center;
}

section a {
    text-decoration: none;
    color: #303C6C;
    font-family: 'Montserrat', sans-serif;
}

/* There was an attempt

@keyframes bounce {
    25% {
        margin-top: -10px;
    }
    50% {
        margin-top: 0px;
    }
    55% {
        transform: rotate(-2deg);
    }
    60% {
        transform: rotate(2deg);
    }
    65% {
        transform: rotate(-2deg);
    }
    70% {
        transform: rotate(2deg);
    }
    75% {
        transform: rotate(0deg);
    }
}
*/

section a:hover {
    color: rgb(177, 251, 255);
    text-decoration: underline;
    /* animation-name: bounce;
    animation-duration: 0.5; */
}

section form {
    grid-area: 2/1/4/2;
    justify-self: center;
    width: 60%;
    height: 100%;
    position: relative;
}

.cardLoggedIn {
    width: 100%;
    height: 65%;
    background: #303C6C;
    color: #B4DFE5;
    justify-self: center;
    grid-area: 2 / 1 / 3 / 2;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

#postText {
    position: absolute;
    left: 5px;
    bottom: -15px;
    width: 80%;
    height: 25%;
    margin-top: 15px;
    background: #F4976C;
    color: #303C6C;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    border: white;
    border-radius: 10px;
}

#submitButton {
    position: absolute;
    right: 0px;
    bottom: -5px;
    background: #D2FDFF;
    color: #303C6C;
    font-size: 25px;
    border-radius: 10px;
}

#profilePageContainer {
    width: 95%;
}

#userInfoCard {
    background: #F4976C;
    width: 50%;
    border-radius: 10px;
    color: #303C6C;
    margin-top: 5%;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Dosis', sans-serif;
}

#userInfoCard a{
    text-decoration: none;
    color: #303C6C;
    font-size: 45px;
}
#userInfoCard a:hover {
    text-decoration: underline;
    color: rgb(177, 251, 255);
}

#gamesAndPostsContainer {
    display: flex;
}

#gamesContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 5% 0 5%;
}

#gamesContainer h2 {
    color: #303C6C;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin: 5px;
    text-decoration: underline;
}

#postContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 5% 0 5%;
}

#postContainer h2 {
    color: #303C6C;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin: 5px;
    text-decoration: underline;
}

.profilePageCard {
    position: relative;
    background: #D2FDFF;
    margin-bottom: 15px;
    border-radius: 10px;
}
#gamesAndPostsContainer ol {
    background: #B4DFE5;
    color: #303C6C;
    width: 83%;
    margin: 2.75%;
    -moz-box-shadow: 4px -4px #303C6C;
    -webkit-box-shadow: 4px -4px #303C6C;
    box-shadow: 2px -2px #303C6C;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.profilePageCard p {
    background: #B4DFE5;
    color: #303C6C;
    width: 83%;
    margin: 2.75%;
    -moz-box-shadow: 4px -4px #303C6C;
    -webkit-box-shadow: 4px -4px #303C6C;
    box-shadow: 2px -2px #303C6C;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

#playedDate {
    background: #B4DFE5;
    color: #303C6C;
    width: 83%;
    margin: 2.75%;
    box-shadow: 2px -2px #303C6C;
    border-radius: 10px;
    padding: 2%;
}
gamePageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#gameBoard {
    display: flex;
    flex-direction: column;
}

#buttonAndTimerContainer {
    display: flex;
    /* margin:  */
}

#startButton {
    background: #FFB366;
    color: #303C6C;
    height: 50px;
    width: 85px;
    font-size: 25px;
    border-radius: 10px;
    border: blue;
    margin: auto
}

#startButton:hover {
    background: #F4976C;
    color:  #303C6C;
    font-size: 18px;
    text-decoration: underline;
}

.timer {
    margin: auto;
    background: #FFB366;
    color: #303C6C;
    height: 50px;
    width: 85px;
    font-size: 15px;
    border-radius: 10px;
    border: blue;
    margin: auto;
    text-align: center;
}

.timer h3 {
    margin: 0;
}

#timer {
    font-size: 25px;
}

#randomWord {
    width: 80%;
    background: #303C6C;
    justify-self: center;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #B4DFE5;
    margin: 20px auto;
    text-align: center
}

#gameForm {
    margin: auto;
}

#gameForm .sentenceField {
    width: 80%;
    height: 25%;
    background: #F4976C;
    color: #303C6C;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    border: white;
    border-radius: 10px;
}
