<section class="sentences">
    {{#each vocabs }}
        <div class="card">
            <div class="card-content">
                <a href="/vocab/{{ id }}" class="card-title">{{ sentence }}</a>
            </div>
            <div class="card-action">
                <a href="/user/{{ author.id }}">{{ author.local.email }}</a>
            </div>
        </div>
    {{/each}}
</section>