<h1>Vocabulary Versatility Vivication!</h1>
{{#if message}}
  <p class="alert">{{message}}</p>
{{/if}}
<button id="startButton">Play</button>
<div id="timer">180</div>
<randomWord id="randomWord">random word</randomWord>
<form action="/ViciousVocab" method="post">
    <input type="text" name="sentence1[content]" class="sentenceField" id="focus1"><br>
    <input type="text" name="sentence2[content]" class="sentenceField" id="focus2"><br>
    <input type="text" name="sentence3[content]" class="sentenceField" id="focus3"><br>
    <input type="text" name="sentence4[content]" class="sentenceField" id="focus4"><br>
    <input type="text" name="sentence5[content]" class="sentenceField" id="focus5"><br>
    <input type="text" name="sentence6[content]" class="sentenceField" id="focus6"><br>
    <input type="submit" id='jsSubmitButton'>
    Write a sentence using the Random Word and press return
</form>
